p {
  text-align: center;
}

#main_heading {
  text-align: center;
  text-decoration: blue wavy line-through;
}

#heading1 {
  font-weight: normal;
}

#heading2 {
  font-weight: bold;
}

#heading3 {
  font-weight: lighter;
}

#heading4 {
  font-weight: 900;
}

#one {
  font-family: Arial;
  line-height: 30px;
}

#two {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
