h1 {
  width: 300px;
  height: 100px;
  background-color: lightgreen;
  border: 3px dashed black;
  text-align: center;
  border-radius: 10px;
}

#common {
  background-color: lightblue;
  height: 100px;
  width: 700px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding-left: 25px;
  margin: 25px;
}

#unique {
  background-color: azure;
  display: inline;
}

button {
  display: block;
}

#box {
  display: inline-block;
  height: 100px;
  width: 100px;
}
